[submodule "AutoClose"]
	path = .vim/bundle/AutoClose
	url = git://github.com/vim-scripts/AutoClose.git
[submodule "camelcasemotion"]
	path = camelcasemotion
	url = git://github.com/vim-scripts/camelcasemotion.git
